@model IEnumerable<ToditoRentas.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Principal/Index.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioDia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioTresDias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioSemana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Anio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioDia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioTresDias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioSemana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProducto })
        </td>
    </tr>
}

</table>
